body{
    background-color: #FCEBD5;
}
nav{
    font-family: "Reenie Beanie", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: #FCEBD5;
}
nav p{
    font-size: 60px;
    color: #A16A5E;
}
nav a{
    text-decoration: none;
    font-size: 32px;
    color:#A16A5E;
}
.nav-buttons #home{
    margin-right: 25px;
}
.nav-buttons #items{
    margin-right: 25px;
}
.nav-buttons #auction{
    margin-right: 25px;
}

.sold-income{
    gap: 40px;
}
#totalItemsSold,
#totalIncome{
    background-color: #A16A5E;
    padding: 60px;
    gap: 50px;
    text-align: center;
    font-size: 40px;
    color: #FCEBD5;
    border-radius: 8px;
}
#auctioningItem{
    background-color: #D44C2E;
}

.chart p{
    font-size: 30px;
    color: #A16A5E;
    text-align: center;
}
.time-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#days7Button,
#days14Button,
#monthButton,
#yearButton{
    background-color: #A16A5E;
    color:#FCEBD5;
    padding: 10px;
}

#days7Button:hover,
#days14Button:hover,
#monthButton:hover,
#yearButton:hover{
    background-color: #D44C2E;
}